// Font import
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,900;1,900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('../fonts/gordita/stylesheet.css');
@import url('../fonts/bootstrap-icons-1.11.1/font/bootstrap-icons.css');
@import url('../fonts/font-awesome-6.4.2/css/all.css');

// Global Style
::-webkit-scrollbar{ width: 5px; }
::-webkit-scrollbar-track { background: #fff;}
::-webkit-scrollbar-thumb { background: #000; border-radius: 0;}
.main-page-wrapper {overflow-x: hidden;}
body {
  font-family: $main-font;
  font-weight: normal;
  font-size: 18px;
  position: relative;
  color: $text-color;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
  color: $text-dark;
}
h2 {font-size: 72px; line-height: 1.138em;}
h3 {font-size: 64px; line-height: 1.25em;}
h4 {font-size: 32px; line-height: 1.25em;}
h5 {font-size: 24px; line-height: 1.25em;}
h6 {font-size: 22px;}
p {line-height: 1.777em;}
.font-manrope {font-family: $font-manrope;}
.font-Playfair {font-family: $font-Playfair;}
.font-Montserrat {font-family: $font-Montserrat;}

.fw-600 {font-weight: 600;}
.fw-500 {font-weight: 500;}
.fs-28 {font-size: 28px;}
.fs-24 {font-size: 24px;}
.fs-22 {font-size: 22px;}
.fs-20 {font-size: 20px;}
.fs-18 {font-size: 18px;}
.fs-16 {font-size: 16px;}
.fs-14 {font-size: 14px;}
.shapes {position: absolute; z-index: -1;}
.border-20 {border-radius: 20px;}
.border-30 {border-radius: 30px;}
.gap-40 {padding-left: 40px; padding-right: 40px;}
.p-30 {padding: 30px;}
.dark-bg {background: #000;}
.bg-grey {background: $bg-grey;}
.bg-one {background: $bg-one;}
.bg-two {background: $bg-two;}
.bg-three {background: $bg-three;}
.bg-four {background: $bg-four;}
.bg-five {background: $bg-five;}
.bg-six {background: $bg-six;}
.bg-seven {background: $bg-seven;}
.bg-eight {background: $bg-eight;}
.bg-nine {background: $bg-nine;}
.bg-ten {background: $bg-ten;}
.bg-eleven {background: $bg-eleven;}
.bg-twelve {background: $bg-twelve;}
.bg-thirteen {background: $bg-thirteen;}
.bg-fourteen {background: $bg-fourteen;}
.bg-fifteen {background: $color-two;}


/*----- Switcher ----*/
#switcher {
  position: fixed;
  left: 0;
  top: 150px;
  z-index: 999;
  background: $color-four;
  color: #000;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  animation: rotated 8s infinite linear;
}
@media (max-width: 575px) { 
  #switcher {
    top: 90px;
    left: auto;
    right: 0;
  }
}

//  Preloader
.ctn-preloader {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999999;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .icon {
    display: inline-block; 
    position: relative;
    span {
      animation: spinner 3s infinite linear;
      border-radius: 50%;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      &:after {
        content: '';
        position: absolute;
        width: 9px;
        height: 9px;
        top: 5px;
        left: 0;
        box-shadow: 0 0 10px rgba($color: $color-two, $alpha: 0.5);
        border-radius: 50%;
        background: $color-two;
      }
    }
  }
  .txt-loading {
    user-select: none;
    margin-top: 45px;
    .letters-loading {
      font-family: $font-Montserrat;
      letter-spacing: 12px;
      display: inline-block;
      color: rgba($color: #000000, $alpha: 0.05);
      position: relative;
      font-size: 60px;
      line-height: 30px;
      &::before {
        animation: letters-loading 4s infinite;
        color: #000;
        content: attr(data-text-preloader);
        left: 0;
        opacity: 0;
        top:0;
        line-height: 30px;
        position: absolute;
      }
      &:nth-child(2):before {animation-delay: 0.2s;}
      &:nth-child(3):before {animation-delay: 0.4s;}
      &:nth-child(4):before {animation-delay: 0.6s;}
      &:nth-child(5):before {animation-delay: 0.8s;}
      &:nth-child(6):before { animation-delay: 1s;}
      &:nth-child(7):before { animation-delay: 1.2s;}
      &:nth-child(8):before { animation-delay: 1.4s;}
    }
  }
}
@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
// Scroll Top
.scroll-top {
  width:35px;
  height:35px;
  line-height: 35px;
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 99;
  text-align: center;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  border-radius: 50%;
  background: $color-two;
  transition: all 0.3s ease-in-out;
    &:after {
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 1;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
    }
}
// Prefix Classes
.tran3s {
  transition: all 0.3s ease-in-out;
}

.tran4s {
  transition: all 0.4s ease-in-out;
}

.tran5s {
  transition: all 0.5s ease-in-out;
}

.tran6s {
  transition: all 0.6s ease-in-out;
}
.home-six-bg {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 30%;
    z-index: -1;
    background: linear-gradient(180deg, #F4F4F4 0%, rgba(247, 247, 247, 0.84) 85.79%, rgba(247, 247, 247, 0) 100%);
  }
}
