// Counter Block
.counter-block-one {
    .main-count {
        font-family: $font-Montserrat;
        font-size: 90px;
        font-style: italic;
        color: #000;
        margin-bottom: -18px;
    }
}

.counter-block-two {
    .main-count {
        font-size: 90px;
        font-weight: 500;
        color: #000;
        margin-bottom: -15px;
    }
}

// Accordion One
.accordion-style-one {
    .accordion-item {
        background: transparent;
        position: relative;
        margin: 0 0 20px 10px;
        z-index: 2;
        border: 3px solid #000;
        border-radius: 20px;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top:0;
            background: $bg-four;
            z-index: -1;
            border-radius: 20px;
        }
        &:after {
            content: '';
            position: absolute;
            top:1px;
            right: 1px;
            bottom: -8px;
            left: -8px;
            background: #000;
            z-index: -2;
            border-radius: 20px;
        }
        .accordion-button {
            background: transparent;
            box-shadow: none;
            font-weight: 500;
            font-size: 26px;
            line-height: 1.35em;
            color: #000;
            padding: 40px 30px;
            &:not(.collapsed) {
                
                &:after {
                    content: '-';
                }
            }
            &:after {
                content: '+';
                font-weight: normal;
                font-size: 36px;
                width: 45px;
                height: 45px;
                color: #000;
                background: #fff;
                text-align: center;
                display: block;
                line-height: 41px;
                transform: none;
                border-radius: 50%;
                border: 2px solid #000;
            }
        }
        .accordion-body {
            padding: 0 30px 40px;
            p {
                margin: 0;
            }
        }
    }
}


// Accordion Two
.accordion-style-two {
    background: #FFFFFF;
    box-shadow: 0px 30px 70px rgba(0, 0, 0, 0.03);
    border-radius: 30px;
    padding: 10px 50px;

    .accordion-item {
        background: transparent;
        position: relative;
        z-index: 2;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
        &:last-child {
            border: none;
        }
        .accordion-button {
            background: transparent;
            box-shadow: none;
            font-weight: 500;
            font-size: 26px;
            line-height: 1.35em;
            color: #000;
            padding: 45px 0;
            &:not(.collapsed) {
                padding-bottom: 30px;
                &:after {
                    content: '-';
                }
            }
            &:after {
                content: '+';
                font-weight: normal;
                font-size: 36px;
                color: #000;
                transform: none;
                border: none;
                background: transparent;
            }
        }
        .accordion-body {
            padding: 0 30px 30px 0;
            p {
                margin: 0;
            }
        }
    }
    &.style-two {
        .accordion-item {
            border-bottom: 1px solid #000;
            &:first-child {
                border-top: 1px solid #000;
            }
        }
    }
}


// Accordion Three
.accordion-style-three {
    .accordion-item {
        background: transparent;
        position: relative;
        z-index: 2;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #000;
        .accordion-button {
            font-family: $font-Playfair;
            background: transparent;
            box-shadow: none;
            font-weight: 700;
            font-size: 32px;
            line-height: 1.35em;
            color: #000;
            padding: 42px 0;
            &:not(.collapsed) {
                padding-bottom: 15px;
            }
        }
        .accordion-body {
            padding: 0 30px 30px 0;
            p {
                margin: 0;
            }
        }
    }
}

// Accordion Four
.accordion-style-four {
    .accordion-item {
        background: #fff;
        position: relative;
        z-index: 2;
        border: 2px solid #000;
        border-radius: 20px;
        overflow: hidden;
        margin-bottom: 25px;
        padding: 0 40px;
        .accordion-button {
            background: transparent;
            box-shadow: none;
            font-size: 28px;
            font-weight: 500;
            line-height: 1.35em;
            color: #000;
            padding: 45px 0;
            &:not(.collapsed) {
                padding-bottom: 40px;
                &:after {
                    content: '-';
                    background: #000;
                    color: #fff;
                }
            }
            &:after {
                content: '+';
                font-weight: normal;
                font-size: 36px;
                color: #000;
                transform: none;
                width: 50px;
                height: 50px;
                border: 2px solid #000;
                border-radius: 50%;
                line-height: 46px;
                text-align: center;
                background: transparent;
            }
        }
        .accordion-body {
            padding: 0 30px 55px 0;
            p {
                margin: 0;
                font-size: 22px;
            }
        }
    }
}


// Accordion Five
.accordion-style-five {
    .accordion-item {
        background: transparent;
        position: relative;
        z-index: 2;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #000;
        .accordion-button {
            font-family: $font-Montserrat;
            background: transparent;
            box-shadow: none;
            font-size: 28px;
            line-height: 1.2em;
            color: #000;
            padding: 25px 0;
            &:not(.collapsed) {
                &:after {
                    content: '-';
                }
            }
            &:after {
                content: '+';
                font-family: $main-font;
                font-weight: normal;
                font-size: 32px;
                color: #000;
                transform: none;
                border: none;
                background: transparent;
                height: auto;
                width: auto;
            }
        }
        .accordion-body {
            padding: 0 30px 30px 0;
            p {
                margin: 0;
            }
        }
    }
}


// Accordion Six
.accordion-style-six {
    .accordion-item {
        background: #fff;
        position: relative;
        z-index: 2;
        border: 2px solid #000;
        border-radius: 0;
        overflow: hidden;
        margin-bottom: 25px;
        padding: 0 40px;
        .accordion-button {
            background: transparent;
            box-shadow: none;
            font-size: 28px;
            font-weight: 500;
            line-height: 1.35em;
            color: #000;
            padding: 45px 0;
            &:not(.collapsed) {
                padding-bottom: 32px;
                &:after {
                    content: '-';
                    background: $color-ten;
                }
            }
            &:after {
                content: '+';
                font-weight: normal;
                font-size: 36px;
                color: #000;
                transform: none;
                width: 50px;
                height: 50px;
                border: 2px solid #000;
                border-radius: 50%;
                line-height: 46px;
                text-align: center;
                background: transparent;
            }
        }
        .accordion-body {
            padding: 0 30px 55px 0;
            p {
                margin: 0;
            }
        }
    }
}


// Pagination One
.pagination-one {
    margin: 0 -3px;
    li {
        padding: 0 3px;
        a {
            width: 45px;
            height: 45px;
            text-align: center;
            line-height: 45px;
            border-radius: 50%;
            font-weight: 500;
            font-size: 22px;
            color: #000;
            @include transition(0.2s);
            &:hover {
                background: #000;
                color: #fff;
            }
        }
        &.active a {
            background: #000;
            color: #fff;
        }
        &:last-child a {
            width: auto;
            height: auto;
            background: transparent;
            color: #000;
        }
    }
    &.square {
        a {
            border-radius: 0;
        }
    }
}