// Block Feature One
.block-feature-one {
    .img-holder {
        .card_01 {
            position: absolute;
            right: 0;
            bottom: -12%;
            z-index: 1;
            max-width: 130%;
        }
        .card_02 {
            position: absolute;
            right: 0;
            bottom: -26%;
            z-index: 2;
            max-width: 151%;
        }
        .shape_01 {
            left: -51%;
            bottom: -24%;
            max-width: 150%;
        }
    }
}
// Block Feature Three
.block-feature-three {
    .img-holder-one {
        .shape_01 {
            max-width: 114%;
            left: 55%;
            transform: translateX(-50%);
            top:29%;
        }
    }
    .img-holder-two {
        .shape_01 {
            max-width: 117%;
            left: 44%;
            transform: translateX(-50%);
            top:26%;
        }
    }
}

// Block Feature Five
.block-feature-five {
    .shape_01 {
        width: 100%;
        top:7%;
    }
    .filter-nav {
        margin: 0 -10px;
        .nav-link {
            font-family: $font-manrope;
            padding: 22px 45px 22px 75px;
            position: relative;
            font-size: 25px;
            font-weight: 500;
            color: #000;
            letter-spacing: -0.25px;
            background: #FFFFFF;
            border: none;
            box-shadow: 0px 20px 40px rgba(39, 21, 68, 0.03);
            border-radius: 50px;
            z-index: 1;
            margin: 0 10px 35px;
            .icon {
                left: 35px;
                top:50%;
                transform: translateY(-50%);
            }
            .icon_w {
                display: none;
            }
            &.active {
                color: #fff;
                background: $color-two;
                .icon {
                    display: none;
                    &.icon_w {
                        display: block;
                    }
                }
            }
        }
    }
}
// BLock Feature Six
.block-feature-six {
    .bg-shape {
        top:50%;
        left: 50%;
        transform: translate(-50% , -50%);
    }
    .bg-shape-two {
        bottom: 0;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
    }
    blockquote {
        font-family: $font-manrope;
        font-size: 58px;
        font-weight: 700;
        line-height: 1.41379em;
        letter-spacing: -2px;
        color: #000;
        position: relative;
        padding-right: 70px;
        .icon {
            bottom: 18px;
            right: 0;
        }
    }
    .media-block {
        background: url(../images/media/img_01.jpg) no-repeat center;
        background-size: cover;
        height: 585px;
        padding: 0 35px 45px 60px;
        font-family: $font-manrope;
        .name-card {
            background: #FFCE52;
            border-radius: 15px;
            padding: 18px 30px;
            h6 {
                font-size: 24px;
                font-weight: 700;
                letter-spacing: -0.5px;
            }
        }
    }
}
// BLock Feature Seven
.block-feature-seven {
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 20%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%,  rgba(255, 255, 255, 0.6) 30%, #FFFFFF 100%);
        bottom: 0;
        left: 0;
    }
    &.bg-fifteen {
        &:before {
            height: 30%;
            background: linear-gradient(180deg, rgba(135, 38, 255, 0) 0%,  rgba(135, 38, 255, 0.6) 30%, #8726FF 100%); 
        }
        .logo-wrapper {
            .logo {
                margin: 30px 10px;
                width: 100px;
                height: 100px;
                border-radius: 30px;
                background: #fff;
                box-shadow: 0 35px 45px rgba($color: #000000, $alpha: 0.08);
                img {
                    width: auto;
                    height: auto;
                    border-radius: 0;
                    margin: 0;
                }
            }
        }
    }
    .logo-wrapper {
        margin: 0 -10px;
        img {
            width: 95px;
            height: 95px;
            border-radius: 50%;
            margin: 30px 10px;
        }
    }
}
// BLock Feature Eight
.block-feature-eight {
    background: #161616;
    .wrapper {
        width: 100vw;
    }
}
// BLock Feature Nine
.block-feature-nine {
    .img-holder {
        background: #EFECE4;
        border-radius: 40px;
        padding: 30px;
    }
}
// BLock Feature Eleven
.block-feature-eleven {
    .shape_01 {
        left: -88px;
        bottom: -35px;
    }
    .slide-one {
        width: 130vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .slide-two {
        width: 120vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: -1px;
    }
    .pr-slide {
        a {
            border-radius: 22px;
            img {
                border-radius: 22px;
            }
        }
    }
}
// BLock Feature Twelve
.block-feature-twelve {
    .rating {
        li {
            margin: 0 1px;
            i {
                font-size: 22px;
                color: #000;
            }
            span {
                font-size: 20px;
                display: block;
                margin-left: 10px;
                color: rgba($color: #000000, $alpha: 0.3);
                strong {
                    font-weight: 500;
                    color: #000;
                }
            }
        }
    }
}

// BLock Feature Thirteen
.block-feature-thirteen { 
    .counter-box {
        padding: 34px 38px 8px;
        border: 3px solid #000;
        border-radius: 20px;
        position: absolute;
        z-index: 1;
        h2 {
            font-size: 64px;
            font-family: $font-Playfair;
            font-weight: 700;
            letter-spacing: -2px;
            margin-bottom: -10px;
        }
        &.box-one {
            left: 5%;
            top:-7%;
        }
        &.box-two {
            right: 4%;
            top:24%;
        }
    }
}

// Block Feature Fourteen
.block-feature-fourteen {
    .filter-nav {
        margin: 0 -10px;
        .nav-link {
            padding: 13px 60px 13px 75px;
            position: relative;
            font-size: 20px;
            font-weight: 500;
            color: #000;
            border: 1px solid rgba($color: #000000, $alpha: 0.15);
            border-radius: 50px;
            z-index: 1;
            margin: 0 10px 10px;
            .icon {
                left: 35px;
                top:50%;
                transform: translateY(-50%);
            }
            .icon_w {
                display: none;
            }
            &.active {
                color: #fff;
                background: #000;
                border-color: #000;
                .icon {
                    display: none;
                    &.icon_w {
                        display: block;
                    }
                }
            }
        }
    }
}
// Block Feature Sixteen
.block-feature-sixteen {
    .feature-block {
        position: relative;
        z-index: 1;
        border-radius: 40px;
        padding: 48px 40px 40px;
        h3 {
            font-weight: 700;
            font-size: 58px;
            letter-spacing: -3px;
        }
        p {
            line-height: 1.583em;
            margin: 30px 0 0;
        }
        .list-item {
            li {
                font-size: 22px;
                font-weight: 500;
                color: #000;
                padding-left: 35px;
                margin-top: 20px;
                letter-spacing: -1px;
                position: relative;
                &:before {
                    content: url(../images/icon/icon_31.svg);
                    position: absolute;
                    left: 0;
                    top:2px;
                }
            }
        }
        .shape_01 {
            right: 5%;
            top:10%;
            width: 11%;
        }
        .shape_02 {
            right: 5%;
            top:10%;
            width: 10%;
        }
        .shape_03 {
            left: 29%;
            bottom:9%;
            width: 15%;
        }
    }
}
// Block Feature Eighteen
.block-feature-eighteen {
    .feature-block {
        background: #F7F7F7;
        border-radius: 50px;
        padding-left: 50px;
        padding-right: 50px;
        position: relative;
        z-index: 1;
        h3 {
            font-size: 55px;
            line-height: 1.1034em;
        }
        .shape_01 {
            left: 0;
            top: 10%;
        }
        .shape_02 {
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            max-width: 86%;
        }
        .shape_03 {
            right: 0;
            top: 10%;
            max-width: 9%;
        }
    }
}

// Block Feature Nineteen
.block-feature-nineteen { 
    .slider-arrows {
        position: absolute;
        right: 0;
        top:40px;
        width: 130px;
        border: 2px solid #000;
        border-radius: 30px;
        overflow: hidden;
        box-shadow: 3px 3px 0 #000;
        li {
            width: 50%;
            line-height: 50px;
            text-align: center;
            cursor: pointer;
            font-weight: 900;
            color: #000;
            @include transition(0.2s);
            &:first-child {
                border-right: 1px solid #000;
            }
            &:hover {
                background: #000;
                color: #fff;
            }
        }
    }
}

// Block Feature Twenty
.block-feature-twenty { 
    h2 {
        font-family: $font-Montserrat;
        font-size: 95px;
        line-height: 1em;
        letter-spacing: -4px;
        text-transform: uppercase;
    }
    .img-box {
        border: 2px solid #000;
        border-radius: 60px;
        box-shadow: -8px 8px 0 #000;
        .main-img {
            border-radius: 60px;
        }
        .text-sticker {
            position: absolute;
            left: -30%;
            top:45%;
            text-align: center;
            div {
                position: absolute;
                left: 50%;
                top:45%;
                transform: translate(-50% , -50%);
                font-size: 22px;
                font-weight: 500;
                color: #000;
                span {
                    font-family: $font-Montserrat;
                    display: block;
                    font-size: 80px;
                    letter-spacing: -1px;
                    margin-bottom: -25px;
                }
            }
        }
        .shape_01 {
            left: -49%;
            bottom: 5%;
        }
    }
}

// Block Feature Twenty One
.block-feature-twentyOne {
    .feature-block {
        background: #ECF8F6;
        border-radius: 50px;
        position: relative;
        z-index: 1;
        .counter-block {
            padding: 50px 0;
            &.border-style {
                border-right: 1px solid #B6DED7;
            }
        }
        .main-count {
            font-size: 64px;
            font-style: italic;
            letter-spacing: -1px;
            color: #000;
            margin-bottom: -10px;
        }
        &.block-two {
            padding: 40px 45px 50px;
            .avatar {
                width: 60px;
                height: 60px;
            }
            .name {
                width: calc(100% - 60px);
                padding-left: 25px;
                h6 {
                    font-size: 24px;
                }
            }
            blockquote {
                font-size: 34px;
                font-weight: 500;
                line-height: 1.5294em;
                color: #000;
                margin: 40px 0 55px;
            }
            li {
                width: 100px;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;
                border-radius: 30px;
                padding: 18px;
                box-shadow: 0px 35px 45px rgba(7, 14, 39, 0.05);
            }
        }
        &.block-three {
            padding-top: 20px;
            .screen {
                margin-left: -45px;
            }
            .shape_01 {
                top:0;
                left: 0;
                width: 100%;
            }
        }
    }
}

// Block Feature Twenty Two
.block-feature-twentyTwo {
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        background: url(../images/assets/bg_15.svg) no-repeat center;
        background-size: cover;
        z-index: -1;
    }
    .feature {
        .num {
            font-size: 24px;
            color: #000;
            border-bottom: 2px solid #000;
            padding-bottom: 25px;
            margin-bottom: 45px;
        }
        p {
            font-size: 32px;
            color: #000;
            line-height: 1.25em;
        }
    }
    .shape_01 {
        right: 0;
        top:13%;
        max-width: 43%;
    }
}
// Block Feature Twenty Four
.block-feature-twentyFour { 
    background: #481938;
    position: relative;
    z-index: 2;
    .card-style-eleven {
        margin-top: -100px;
    }
    form {
        background: rgba($color: #fff, $alpha: 0.13);
        border-radius: 20px;
        margin: 90px 0 25px;
        button {
            width: 220px;
            height: 90px;
            font-size: 24px;
            font-weight: 500;
            color: #000;
            background: $color-nine;
            border-radius: 20px;
            @include transition (0.3s);
            &:hover {
                background: #000;
                color: #fff;
            }
        }
        input {
            width: calc(100% - 220px);
            height: 90px;
            border: none;
            background: transparent;
            border-radius: 20px 0 0 20px;
            padding: 0 30px;
            color: #fff;
            font-size: 20px;
            &::placeholder {
                color: #fff;
            }
        }
    }
    .logos {
        margin: 0 -15px;
        div {
            margin: 15px 15px 0;
        }
    }
}


// Block Feature Twenty Six
.block-feature-twentySix { 
    .block-one {
        background: #F6F6F6;
        border-radius: 50px;
        padding: 50px 45px;
        h3 {
            font-size: 42px;
            line-height: 1.238em;
            margin: 90px 0 0;
        }
    }
    .block-two {
        background: #1F4531;
        border-radius: 50px;
        padding: 60px 80px 60px;
        h3 {
            font-size: 48px;
            line-height: 1.208em;
            color: #fff;
        }
        img {
            margin: -55px auto 0;
        }
    }
    .block-three {
        background: #CDE1FF;
        border-radius: 50px;
        padding: 80px 80px 120px;
        position: relative;
        z-index: 1;
        .icon {
            width: 70px;
            height: 70px;
            border: 2px solid #000;
            background: $color-nine;
            margin-left: auto;
        }
        blockquote {
            font-weight: 500;
            font-size: 36px;
            line-height: 1.4444em;
            color: #000;
            margin: 25px 0 45px;
        }
        .shape_01 {
            left: 0;
            bottom: 0;
            max-width: 50%;
        }
        .shape_02 {
            top:14%;
            left: 6%;
            max-width: 50%;
        }
    }
    .block-four {
        background: #F6F6F6;
        border-radius: 50px;
        padding: 50px 45px;
        h3 {
            font-size: 42px;
            line-height: 1.238em;
            margin: 0 0 90px;
        }
    }
}


// Block Feature Twenty Eight
.block-feature-twentyEight { 
    .block-feature {
        .card-one {
            padding: 30px 20px;
            background: #FFFFFF;
            box-shadow: 30px 50px 100px rgba(0, 0, 0, 0.07);
            position: absolute;
            right: -50px;
            bottom: -50px;
            width: 380px;
            text-align: center;
            h4 {
                font-size: 28px;
                margin-top: 20px;
            }
        }
        .card-two {
            padding: 30px 20px;
            background: #FFFFFF;
            box-shadow: 30px 50px 100px rgba(0, 0, 0, 0.07);
            position: absolute;
            left: -50px;
            bottom: -50px;
            width: 280px;
            text-align: center;
            h4 {
                font-size: 28px;
                margin-top: 20px;
            }
        }
    }
}


// Block Feature Thirty
.block-feature-thirty { 
    .media-img {
        border-radius: 50px;
    }
    .shape_01 {
        right: 7%;
        bottom: 13%;
    }
    .shape_02 {
        right: 8%;
        top: 12%;
        max-width: 84%;
    }
}

// Block Feature Thirty One
.block-feature-thirtyOne { 
    .video-banner {
        height: 720px;
        background: url(../images/media/img_27.jpg) no-repeat center;
        background-size: cover;
        border: 10px solid #000;
        border-radius: 50px;

        .video-btn {
            width: 130px;
            height: 130px;
            background: #000;
            font-size: 60px;
            color: #fff;
            padding-left: 10px;
            &:hover {
                background: $bg-two;
            }
        }
    }
}
// App Integration One
.app-integration-one {
    overflow: hidden;
    .logo-wrapper {
        width: 110vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        &:before {
            content: '';
            position: absolute;
            background: linear-gradient(89.69deg, #FFFFFF 13.29%, rgba(255, 255, 255, 0) 99.64%);
            transform: rotate(-180deg);
            right: 0;
            height: 100%;
            top:0;
            width: 20%;
            z-index: 1;
        }
        &:after {
            content: '';
            position: absolute;
            background: linear-gradient(89.69deg, #FFFFFF 13.29%, rgba(255, 255, 255, 0) 99.64%);
            left: 0;
            height: 100%;
            top:0;
            width: 20%;
            z-index: 1;
        }
        img {margin: 0 auto;}
        .logo-box {
            width: 200px;
            height: 200px;
            border-radius: 30px;
            margin: 0 auto;
        }
    }
}

// FAQ Section One
.faq-section-one {
    .shape_01 {
        right: 7%;
        top:15%;
        max-width: 5%;
        animation: rotated 90s infinite linear;
    }
    .shape_02 {
        left: 7%;
        bottom:9%;
        max-width: 3%;
        animation: rotated 40s infinite linear;
    }
}
// FAQ Section Two
.faq-section-two {
    .shape_01 {
        right: 7%;
        top:50%;
        transform: translateY(-50%);
    }
}
// Counter Section One
.counter-section-one {
    .main-count {
        font-size: 90px;
        font-style: italic;
        letter-spacing: -3px;
        color: #000;
        margin-bottom: -22px;
    }
    p {
        margin: 0;
    }
    .skew-line {
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-left: 1px solid #000;
            border-right: 1px solid #000;
            left: 0;
            top:0;
            z-index: -1;
            transform: skew(-15deg);
        }
    }
}
// Service Details
.service-details {
    .wrapper {
        max-width: 1170px;
        p {
            font-size: 20px;
            color: #000;
        }
        h3 {
            font-family: $font-Montserrat;
            font-size: 32px;
            margin: 65px 0 15px;
        }
        .list-type-one {
            li {
                font-size: 20px;
                color: #000;
                line-height: 1.9em;
                position: relative;
                padding-left: 35px;
                margin-bottom: 20px;
                span {
                    font-weight: 700;
                }
                &:before {
                    content: url(../images/icon/icon_89.svg);
                    position: absolute;
                    left: 0;
                    top:3px;
                }
            }
        }
        .bg-wrapper {
            padding: 22px 40px 25px;
            .card-style-fifteen {
                .icon {
                    width: 54px;
                    height: 54px;
                }
                h6 {
                    font-size: 22px;
                    margin: 16px 0 14px;
                }
                p {
                    font-size: 17px;
                }
            }
        }
    }
}
// Project Details
.project-details {
    .share-icon {
        li:first-child {
            font-family: $font-Montserrat;
            font-size: 16px;
            letter-spacing: 2px;
            color: #000;
            text-transform: uppercase;
        }
        a {
            width: 48px;
            height: 48px;
            border: 1px solid #000;
            border-radius: 50%;
            line-height: 46px;
            text-align: center;
            color: #000;
            margin-left: 10px;
            @include transition(0.3s);
            &:hover {
                background: #000;
                color: #fff;
            }
        }
    }
    .project-info {
        margin: 0 -10px;
        li {
            width: 18%;
            margin: 20px 10px 0;
            position: relative;
            z-index: 1;
            padding: 8px 0;
            &:nth-child(2):before {
                    content: '';
                    position: absolute;
                    width: 150%;
                    height: 100%;
                    border-left: 2px solid #000;
                    border-right: 2px solid #000;
                    left: -50%;
                    top:0;
                    z-index: -1;
                    transform: skew(-26deg);
            }
            &:nth-child(3):before {
                content: '';
                position: absolute;
                width: 150%;
                height: 100%;
                border-right: 2px solid #000;
                left: -50%;
                top:0;
                z-index: -1;
                transform: skew(-26deg);
        }
            h6 {
                font-family: $font-Montserrat;
                font-size: 16px;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-bottom: 5px;
            }
        }
    }
    .media-lg {
        border: 3px solid #000;
        border-radius: 50px;
        box-shadow: 0 8px 0 #000;
        overflow: hidden;
    }
    h3 {
        font-family: $font-Montserrat;
        font-size: 58px;
        margin: 80px 0 25px;
    }
    p {
        font-size: 22px;
        line-height: 1.909em;
        margin-bottom: 35px;
    }
    .list-type-one {
        li {
            font-size: 20px;
            color: #000;
            line-height: 1.9em;
            position: relative;
            padding-left: 35px;
            margin-bottom: 20px;
            max-width: 1080px;
            span {
                font-weight: 700;
            }
            &:before {
                content: url(../images/icon/icon_89.svg);
                position: absolute;
                left: 0;
                top:3px;
            }
        }
    }
    .media-md {
        border: 3px solid #000;
        border-radius: 30px;
        overflow: hidden;
    }
    .page-pagination {
        padding: 60px 0;
        .pr-dir {
            font-size: 16px;
            letter-spacing: 0.89px;
            color: #979797;
        }
        .pr-name {
            font-size: 32px;
            color: #000;
            margin-top: 4px;
        }
        i {
            font-size: 30px;
            width: 75px;
            height: 75px;
            border: 1px solid #000;
            color: #000;
            border-radius: 50%;
            text-align: center;
            line-height: 73px;
            @include transition(0.2s);
        }
        a:hover i {
            background: #000;
            color: #fff;
        }
    }
}
// Error Page
.error-page {
    overflow: hidden;
    h2 {
        font-family: $font-Montserrat;
        font-size: 140px;
        letter-spacing: -2px;
    }
    h3 {
        font-family: $font-Montserrat;
        font-size: 90px;
        line-height: 1em;
        letter-spacing: -2px;
        text-transform: uppercase;
    }
    .btn-seven {
        border-radius: 40px;
        min-width: 150px;
    }
    .illustration {
        position: absolute;
        right: 0;
        top:6%;
        max-width: 50%;
    }
    .shape_01 {
        top:6%;
        left: 5%;
        max-width: 35px;
    }
}