// Title One
.title-one {
    h2 {
        font-family: $font-Montserrat;
        font-size: 82px;
        line-height: 1.02em;
        font-style: italic;
        text-transform: uppercase;
    }
}

// Title Two
.title-two {
    h2 {
        font-family: $font-manrope;
        font-size: 82px;
        font-weight: 600;
        letter-spacing: -2.5px;
    }
    .pointer {
        display: inline-block;
        font-size: 22px;
        color: #fff;
        line-height: 43px;
        padding: 0 65px 0 25px;
        border-radius: 30px 2px 50px 30px;
        position: relative;
        margin-bottom: 25px;
        img {
            position: absolute;
            right: -19px;
            top:-19px;
        }
    }
}

// Title Three
.title-three {
    h2 {
        font-family: $font-Montserrat;
        font-size: 88px;
        line-height: 1.1333em;
        letter-spacing: -4px;
        text-transform: uppercase;
    }
}
// Title Four
.title-four {
    h2 {
        font-size: 78px;
        line-height: 1.1025em;
        letter-spacing: -2px;
    }
}
// Title Five
.title-five {
    h2 {
        font-size: 100px;
        line-height: 1em;
        letter-spacing: -1px;
    }
}
// Title Six
.title-six {
    h2 {
        font-family: $font-Playfair;
        font-size: 76px;
        font-weight: 700;
        line-height: 1.1794em;
    }
}
// Title Seven
.title-seven {
    h2 {
        font-family: $font-Playfair;
        font-size: 54px;
        font-weight: 700;
        line-height: 1.148em;
    }
}
// Title Eight
.title-eight {
    h2 {
        font-size: 90px;
        font-weight: 700;
        line-height: 1.222em;
        span {
            color: $color-six;
            font-family: $font-Pacifico;
            font-style: italic;
            line-height: 1em;
        }
    }
}
// Title Nine
.title-nine {
    h2 {
        font-size: 72px;
        font-weight: 500;
        line-height: 1.1388em;
        letter-spacing: -1.9px;
    }
    .upper-title {
        text-transform: uppercase;
        color: rgba($color: #000000, $alpha: 0.4);
        letter-spacing: 2px;
    }
}
// Title Ten
.title-ten {
    h2 {
        font-family: $font-Montserrat;
        font-style: italic;
        font-size: 64px;
        line-height: 1.1562em;
        letter-spacing: -1px;
        .line {
            position: absolute;
            width: 100%;
            height: 18px;
            left: 0;
            bottom: 11%;
            z-index: -1;
        }
    }
    .upper-title {
        letter-spacing: 1px;
        font-size: 20px;
        color: rgba($color: #000000, $alpha: 0.5);
        margin-bottom: 15px;
    }
}
// Title Eleven
.title-eleven {
    h2 {
        font-family: $font-Playfair;
        font-size: 68px;
        font-weight: 700;
        letter-spacing: -1px;
        line-height: 1.1029em;
    }
}